In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./database.csv', sep=',')
print(data.shape)
data.head(3)

(70, 5)

        id     name             email age location
0  PYmt8hd   jdcrLI  jdcrli@gmail.com  27   London
1  aN21Mhj  yoHrWHE    oHrWHE@example  40      NaN
2      NaN   oHrWHE      oHrWHE@a.com   a      NaN

In [13]:
import re

def validate(email):
    expresion_regular = r"(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"

    return True if re.match(expresion_regular, email) else False

def validateLocation(location):
    patron = "^[A-Za-z ]+$"
    return True if re.match(patron, location) else False

In [60]:
invalid_user = ''

for id in range(0, 70):
    row = data.iloc[id]

    validId = False
    validName = False
    validEmail = False
    ValidAge = True
    ValidLocation = True

    if (isinstance(row['id'], str)): validId = row['id'].isalnum()
    if (isinstance(row['name'], str)): validName = row['name'].isalnum()
    if (isinstance(row['email'], str)): validEmail = validate(row['email'])
    if (isinstance(row['age'], str)): ValidAge = row['age'].isdigit()
    if (isinstance(row['location'], str)): ValidLocation = row['location'].isalpha()

    if validId and validName and validEmail and ValidAge and ValidLocation:
        pass
    else:
        invalid_user = invalid_user + row['name'][0]
        print(row['name'])
    

print(invalid_user)

yoHrWHE
oHrWHE
utuPMN
htuPMN
4vZtIH
vsWtBk
3vsWtBk
bGyjPo
eGyjPo
eBbEBV
pB1P64
nceCp2
jauTbB
djrWrL
prYGAC
wWZxgp
DFgbNn
ngPCGN
dplQIl
AxLzOk
nnqyAa
hlyLQF
EfaHWA
youh4v3beepnjdpwDndAnhE